
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet">
    <style>
      input {
        cursor: text;
      }
      label:hover {
        cursor: text;
      }
    </style>
  </head>

  <body>
    <form class="form-signin" action="/login" method="post">
      <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">LOGIN</h1>
        <p>Please provide your username and password</p>
        <p style="color:red;">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
          {% endif %}
        {% endwith %}
        </p>
      </div>

      <div class="form-label-group">
        <input type="text" id="username" class="form-control" placeholder="Username" name="username" required autofocus>
        <label for="username">Username</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
        <label for="password">Password</label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; DBMS Spr'22-23</p>
    </form>
  </body>
</html>
